body
{
    background-color: #01003b;
}
.ice-cream
{
    width: 50px;
    height: 120px;
    margin: 100px auto;
}

.body
{
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 100px;
    border-radius: 30px 30px 10px 10px;
    background: red;
    overflow: hidden;
}

.footer
{
    width: 10px;
    height: 15px;
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
    background: #a77b64;
}

.loading
{
    position: absolute;
    width: 200px;
    top: -213px;
    left: -27px;
    transform: rotate(45deg);
    animation: move 2.5s linear infinite;
}
@keyframes move
{
    from
    {
        top: -213px;
        left: -27px;
    }
    to
    {
        top: -46px;
        left: -83px;
    }
}

.loading .line
{
    height: 40px;
}

.loading .line:nth-child(1),
.loading .line:nth-child(5)
{
    background: #ff7632;
}

.loading .line:nth-child(2),
.loading .line:nth-child(6)
{
    background: #46b0ff;
}

.loading .line:nth-child(3),
.loading .line:nth-child(7)
{
    background: #fffce5;
}

.loading .line:nth-child(4),
.loading .line:nth-child(8)
{
    background: red;
}

.body:before
{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border: 5px solid #fff;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 100%;
    top: 5px;
    left: 5px;
    transform: rotate(120deg);
    opacity: 0.7;
    z-index: 10;
}